@import "var.scss";
@import "font_face.scss";
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: $font_p;
}
h1 {
    margin: 0 $med;
    font-family: $font_h;
}
h2, h3, h4, h5, h6 {
    color: $main_color;
    text-align: center;
    font-family: $font_h;
}
p {
    display: block;
    margin: $med auto;
    color: $light_color;
    max-width: $vp_width;
}
a {
    color: $main_color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.flex {
    display: flex;
    .inflex {
        display: block;
        margin: auto;
    }
}
header {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    background: $transp_white;
    width: 100%;
    height: $navbar_height;
    line-height: $navbar_height;
    z-index: 20;
    h1 a { color: $dark_color; }
    nav { 
        position: fixed;
        top: 0;
        right: $med;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                float: left;
                margin: 0 $med;
                a { 
                    display: block;
                    height: $navbar_height;
                    color: $dark_color;
                    &:hover {
                        color: $main_color;
                        border-bottom: 2px solid $main_color;
                    } // a hover 
                } // a
            } // li 
        } // ul
    } // nav
} // header
section {
    padding: $huge $med;
    p {
        text-align: center;
    }
}
#home_index {
    background: $background;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    margin-top: $navbar_height;
    height: 90vh;
    min-height: $vp_width;
    padding: $med;
    div { 
        z-index: 2; 
        background: $transp_black;
        padding: $med;
        border-radius: $micro;
        img {
            display: block;
            width: $pic_med;
            height: $pic_med;
            margin: auto;
            border-radius: $total_radius;
        }
    }
}
#short_prez {
    background: $dark_color;
    padding: $huge 0;
    &:before, &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100px;
        background: $dark_color; 
        transform: skewY(2deg) translateY($before_px);
    }
    &:after {
        transform: skewY(2deg) translateY(-$before_px);
    }
}
#mail_zone {
    background: $light_color;
    color: $dark_color;
}
.button {
    display: block;
    font-family: $font_h;
    max-width: $btn_width;
    margin: auto;
    text-align: center;
    color: $dark_color;
    background: $btn_color;
    padding: 10px;
    border-radius: $micro;
    transition: all $transform_time $bezier;
    &:hover {
        background: $main_color;
        text-decoration: none;
        transform: scale(1.1);
    }
}
